{{#extends "base"}}
  {{#block "content"}}
    <h1>Update {{poster.name}}</h1>
    <form method="POST" class="m-3">
      <input type="hidden" name="_csrf" value="{{csrfToken}}" />
      {{{form}}}
      <input type="submit" class="btn btn-primary" value="Update Form" />
    </form>
  {{/block}}
{{/extends}}